body {
    padding: 0;
    margin: 0;
    background-color: #75BB8B;
}
/* Set map, body, and html to 100% of the screen size. */
#map      {
  width: 90%; 
  height: 500px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#dropdownMenuButton1 {
  width: 50%; 
  height: 100px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}
#selDataset {
  width: 50%; 
  height: 30px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#sample-metadata {

  width: 100%; 
  height: 400px; 
  /* border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 90px; */
  /* box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px; */

}

#bar{
  width: 90%; 
  height: 100%; 
  border: 1px solid rgb(32, 17, 17);
  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#size_map {
  height: 500px;
  width:100%;
  border-radius: 10px;
  position: static;
  z-index: 0;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
  /* float: right; */
}

#fires_map {
  height: 500px;
  width:100%;
  border-radius: 10px;
  position: static;
  z-index: 0;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
  /* float: left; */
}

#fires-header {
  float: left;
}

#sizes-header {
  float: right;
}

/* .gridContainer {
  background-image:url("../../../Flask_test -Map Filter/static/images/background-image.jpeg");
  width:100%;
} */

.header {
  text-align: center;
}

.header-fires {
  text-align: center;
}

/* .header-image {
  background-image: url("../../../Flask_test -Map Filter/static/images/background-image.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  opacity: .5;
  position:absolute;
  height:100vh;
  position: absolute;
  z-index:2
} */

#lineplotDiv{
  height: 700px;
  width:700px;
  margin-left: 300px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#bio{
  height: 500px;
  width:800px;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#dropdown{
  height: 500px;
  width: 1200px;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#dropdown1{
  height: 500px;
  width: 100%;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
  
}

/* #data{
  height: 500px;
  width:1200px;
  margin-left: 90px;
  box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
} */

.footer{
  height:150px;
  width:100%;
  position:relative;
  background-color: #f1f1f1;
}

.footer-div {
  height:100%;
  text-align:center;
}

.authors {
  padding-top: 15px;
}

.container{
  padding-top: 35px;
  padding-bottom: 25px;
  margin: auto;
  
}

h2 {
  margin-left: 90px;
}

.panel-heading {
  text-align: left;
  margin-left: 90px;
}

#myBtn 
{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(44, 233, 88); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: fixed;
  right: 0;
  bottom: 0; 
  min-width: 100%;
  min-height: 100%;
}
