/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}

/* Set map, body, and html to 100% of the screen size. */
#map{
height: 500px;
    width:100%;
    box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
}

#map2{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;
  }

#bio{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}

#dropdown{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}

#gauge{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}

#trend{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}

#data{
  height: 500px;
      width:100%;
      box-shadow: rgba(0,0,0,.15) 0px 0px 4px 4px;

}
.container{
  padding-top: 35px;
  padding-bottom: 25px;
margin: auto;

}

.header{
  padding-top: 35px;
  padding-bottom: 25px;
  margin: auto;
  
}

.footer{
  height:150px;
  width:100%;
  position:relative;
  background-color: #f1f1f1;
}

.footer-div {
  height:100%;
  text-align:center;
}

.authors {
  padding-top: 15px;
}

body,
html {
  height: 100%;
}
