<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Park Search</title>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css" />


    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript"
        src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Marker cluster CSS
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css"> -->

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- DataTable Jquery -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <!-- <script type="text/javascript" src="../static/js/choropleth.js"></script> -->

    <!-- <script src="../static/js/Leaflet-heat.js"></script> -->


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/app.js"></script>
</head>

<body>

    <div class="header">
        <h1>National Parks Search</h1>
    </div>

    <div class="container">
        <div>
            <h2> Search Park on Map </h2>
        </div>
        <div class="col-sm-12">
            <div id="map"></div>
        </div>
    </div>

    <div class="container">
        <div>
            <h2> Wild Fire at National Parks Map </h2>
        </div>
        <div class=row>
            <div class="col-sm-8">
                <div id="map2"></div>
            </div>
            <div class=row>

                <div class="col-sm-4">
                    <div id="gauge"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div>
            <h2> Wild Fire Trend </h2>
        </div>
        <div class=row>
            <div class="col-sm-12">
                <div id="trend"></div>
            </div>

        </div>
    </div>
    <div class="container">
        <div>
            <h2> Biodiversity at National Parks </h2>
        </div>
        <div class=row>
            <div class="col-sm-8">
                <div id="bio"></div>
            </div>
            <div class=row>

                <div class="col-sm-4">
                    <div id="dropdown"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h2> Park Facts </h2>
        </div>
        <div class=row>
            <div class="col-sm-12">
                <div id="data"></div>
            </div>

        </div>
    </div>
    <footer>
        <div class="footer">
            <div class='footer-div'>
                <label class="authors">
                    Authors: Paul Feliciano, Alberto Gonzalez, Adriana Icasiano, Lovensky Lubin, Abayomi Olujobi
                </label>
                <br />
                <label class="year">July, 2021</label>
                <br>
                <label class="citation">
                    <em>
                        Data obtained from the 
                        <a href="https://www.nps.gov/subjects/developer/api-documentation.htm" target="blank">
                            Natioanl Parks API, 
                        </a>
                        <br>
                        <a href="https://www.kaggle.com/nationalparkservice/park-biodiversity" target="blank">
                            Biodiverity in National Parks Database, 
                        </a>
                        <br>
                        <a href="https://www.kaggle.com/rtatman/188-million-us-wildfires"target="blank">
                            1.88 million US Wildfires Database, 
                        </a>
                    </em>
                </label>
            </div>
        </div>
    </footer>
</body>

</html>